
/*ul.nav {
  padding-left: 0px;
  background-color: #3D99CE;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #2779BF;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}

.header {
  font-size: xx-large;
  text-align: center;
}

.configurations {
  background-color: rgb(204, 149, 130);
  height: max-content;
}

.header {
  background-color: rgb(167, 92, 65);
  height: max-content;
}

.work-type {
  font-weight: bold;
}

.text-body {
  margin-left: 20%;
  margin-right: 20%;
  background-color:rgb(111, 92, 65)
}

.search-bar {
  margin-left: 50%;
}

.titleArea {
  font-weight: bold;
  font-size: larger;
}

/* When the text from the Textarea is rendered, the first lines comes as a <pre> tag, 
so as to allow for blank spaces between the lines of the text. The text between the <pre></pre> tags
is unformatted, so that the first line always looks 'a bit weird' compared to the rest of the text. 
This stylization solves this problem. */ /*
 pre {
  white-space: normal;
  }

.post-title {
  font-size: large;
}

.post-content {
  color:red;
}

.textblock {
  background-color: aquamarine;
  font-style: italic;
}
  
.sort-by-button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px;
  cursor: pointer;
}

.sort-by-button:hover {
  background-color: #23527c;
}

.sort-by-button:active {
  background-color: #1e476c;
}

.sort-by-button.sort-asc:after {
  content: "\25b2";
  margin-left: 5px;
}

.sort-by-button.sort-desc:after {
  content: "\25bc";
  margin-left: 5px;
}

.page-buttons {
  margin-left:30%;
  margin-right: 30%;
}
*/


/*.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

.search-container button {
  float: right;
  padding: 10px;
  background: #333;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-container button:hover {
  background: #555;
}

.search-term {
  font-size: xx-large
}

/*pre {
  display: block;
  width: auto;
  max-height: 600px;
  overflow: auto;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--cassiopeia-color-primary, #111 );
  scrollbar-color: #ccc transparent;
  margin: 20px 40px;
  padding: 30px;
  word-wrap: normal;
}

pre > code {
  display: block;
  font-size: 1.0rem;
  text-indent: 0;
  color: #111;
  white-space: inherit;
} */
